
trigger:
  - master
pr:
  - master

pool:
  vmImage: 'macos-latest'

jobs:
  - job: 'library'
    displayName: 'Build Library and Sample'
    steps:
    - task: Cache@2
      displayName: 'Check for library gradle cache'
      inputs:
        key: 'gradle | "$(Agent.OS)" | build.gradle.kts | kermit/**/build.gradle.kts'
        path: '.gradle'
        restoreKeys: |
          gradle | "$(Agent.OS)"
          gradle
    - task: Gradle@2
      displayName: 'Build Library'
      inputs:
        gradleWrapperFile: 'gradlew'
        options: '--build-cache'
        tasks: 'build'
        publishJUnitResults: true
        testResultsFiles: '**/TEST-*.xml'
        javaHomeOption: 'JDKVersion'
        sonarQubeRunAnalysis: false

    - task: Gradle@2
      displayName: 'Publish library to Maven Local for use by Sample'
      inputs:
        gradleWrapperFile: 'gradlew'
        tasks: 'publishToMavenLocal'
        publishJUnitResults: false
        sonarQubeRunAnalysis: false
    - task: Cache@2
      displayName: 'Check for Sample gradle cache'
      inputs:
        key: 'sampleGradle | "$(Agent.OS)" | KermitSample/**/build.gradle.kts'
        path: 'KermitSample/.gradle'
        restoreKeys: |
          sampleGradle | "$(Agent.OS)"
          sampleGradle
    - task: Gradle@2
      displayName: 'Build Sample'
      inputs:
        gradleWrapperFile: 'KermitSample/gradlew'
        workingDirectory: 'KermitSample'
        options: '--build-cache'
        tasks: 'build'
        publishJUnitResults: true
        testResultsFiles: '**/TEST-*.xml'
        javaHomeOption: 'JDKVersion'
        sonarQubeRunAnalysis: false
    - task: Gradle@2
      displayName: 'Stop gradle to ensure clean caching'
      inputs:
        gradleWrapperFile: 'gradlew'
        options: '--stop'
        tasks: 'build' 
        publishJUnitResults: false
        javaHomeOption: 'JDKVersion'
        sonarQubeRunAnalysis: false
