[versions]
## SDK Versions
minSdk = "21"
targetSdk = "33"
compileSdk = "33"

# Dependencies
kotlin = "1.7.20"
binaryCompatability = "0.11.0"

androidx-core = "1.8.0"
androidx-appcompat = "1.5.1"
androidx-constraintLayout = "2.1.4"
androidx-navigationFragment = "2.5.2"
androidx-navigationUI = "2.5.2"
androidx-coordinatorLayout = "1.2.0"
android-material = "1.6.1"
android-gradle-plugin = "7.2.2"
android-library = "7.2.2"

google-services = "4.3.10"
firebase-crashlytics-gradle = "2.7.1"

bugsnag-android-gradle-plugin = "7.0.0"

stately = "1.2.3"
testhelp = "0.6.4"

crashkios = "0.8.1"
crashkios-bugsnag = "0.7.1-alpha3"
crashkios-utils = "0.7.1-alpha3"
bugsnag = "5.26.0"

firebase-bom = "28.4.0"

koin = "3.1.5"
coroutines = "1.6.4"
roboelectric = "4.8.2"
buildConfig = "2.1.0"
mavenPublish = "0.22.0"

android-junitTest = "1.1.3"
junit = "4.13.2"

[libraries]
androidx-core = { module = "androidx.core:core-ktx", version.ref = "androidx-core" }
androidx-appcompat = { module = "androidx.appcompat:appcompat", version.ref = "androidx-appcompat" }
androidx-constraintLayout = { module = "androidx.constraintlayout:constraintlayout", version.ref = "androidx-constraintLayout" }
androidx-navigationFragment = { module = "androidx.navigation:navigation-fragment-ktx", version.ref = "androidx-navigationFragment" }
androidx-navigationUI = { module = "androidx.navigation:navigation-ui-ktx", version.ref = "androidx-navigationUI" }
androidx-coordinatorLayout = { module = "androidx.coordinatorlayout:coordinatorlayout", version.ref = "androidx-coordinatorLayout" }

android-material = { module = "com.google.android.material:material", version.ref = "android-material" }

android-gradle-plugin = { module = "com.android.tools.build:gradle", version.ref = "android-gradle-plugin" }
bugsnag-android-gradle-plugin = { module = "com.bugsnag:bugsnag-android-gradle-plugin", version.ref = "bugsnag-android-gradle-plugin" }

google-services = { module = "com.google.gms:google-services", version.ref = "google-services" }
firebase-crashlytics-gradle = { module = "com.google.firebase:firebase-crashlytics-gradle", version.ref = "firebase-crashlytics-gradle" }

crashkios-crashlytics = { module = "co.touchlab.crashkios:crashlytics", version.ref = "crashkios" }
crashkios-bugsnag = { module = "co.touchlab.crashkios:bugsnag", version.ref = "crashkios-bugsnag" }
crashkios-utils = { module = "co.touchlab.crashkios:utils", version.ref = "crashkios-utils" }
bugsnag-android = { module = "com.bugsnag:bugsnag-android", version.ref = "bugsnag" }
stately-collections = { module = "co.touchlab:stately-collections", version.ref = "stately"}
testhelp = { module = "co.touchlab:testhelp", version.ref = "testhelp" }

firebase-bom = { module = "com.google.firebase:firebase-bom", version.ref = "firebase-bom" }
firebase-analytics = { module = "com.google.firebase:firebase-analytics-ktx" }
firebase-crashlytics = { module = "com.google.firebase:firebase-crashlytics-ktx" }

koin = { module = "io.insert-koin:koin-core", version.ref = "koin" }
koin-android = { module = "io.insert-koin:koin-android", version.ref = "koin" }
coroutines = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-core", version.ref = "coroutines" }
roboelectric = { module = "org.robolectric:robolectric", version.ref = "roboelectric" }

koin-test = { module = "io.insert-koin:koin-test", version.ref = "koin" }
coroutines-test = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-test", version.ref = "coroutines" }

android-junitTest = { module = "androidx.test.ext:junit", version.ref = "android-junitTest" }
junitTest = { module = "junit:junit", version.ref = "junit" }
maven-publish = { module = "com.vanniktech:gradle-maven-publish-plugin", version.ref = "mavenPublish" }

[plugins]
kotlin-multiplatform = { id = "org.jetbrains.kotlin.multiplatform", version.ref = "kotlin" }
android-library = { id = "com.android.library", version.ref = "android-library" }
buildConfig = { id = "com.github.gmazzo.buildconfig", version.ref = "buildConfig" }
binaryCompatability = { id = "org.jetbrains.kotlinx.binary-compatibility-validator", version.ref = "binaryCompatability" }

[bundles]
android = [
    "androidx-core",
    "androidx-appcompat",
    "androidx-constraintLayout",
    "androidx-navigationFragment",
    "androidx-navigationUI",
    "androidx-coordinatorLayout",
]


